
/*
.nav-link{
    opacity: 0.7;
}
  
.nav-link: hover {
    opacity: 1;
    background-color: #000000;
}
*/
.nav-item {
    text-align: left;
}

body {
    margin-left: 20px;
    background-color: black;
    color: white;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

  
header {
    height: 600px;
    width: 100%;
    background-image: url("img/cleaning.jpg");
    background-size: cover;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
}

.title {
  color: #FF9797;
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: bold;
  font-size: 100px;
  line-height: 105%;
  margin: 0;
  /*text-decoration: underline;*/
}

a {
    color: #FF9797;
    text-decoration: none;
}

a:hover {
    color: #c27272;
}

.subtitle {
    line-height: 5px;
}

.creativeStatement {
  margin: 1rem auto 0;
  width: 75%;
  padding-top: 10%;

}

/* 
header p {
    font-style: italic;
}
  
header h1, p{
    color: black;
}*/